body {
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 1.2rem;
}

nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items
}

.logo {
    width: 50px;
    cursor: pointer;
}

nav ul {
    flex: 1;
}

    nav ul li {
        display: inline-block;
        margin: 10px 20px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

nav .btn {
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}

.overskrift {
    margin-top: 12%;
}

    .overskrift h1 {
        font-size: 88px ;
        margin-bottom: 15px;
    }

    .overskrift p {
        color: white;
    }

    .overskrift h1 span {
        color: orange;
    }
    .overskrift .btn {
        margin: 30px;
        background-color: orange; 
    }
    .overskrift .btn:hover{
        color: coral;
    }
footer {
    background-color: #157e3d;
    padding: 5rem;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

    footer a {
        color: #ffffff;
    }
    footer a:hover {
            color: #090808;
            background-color: #f8f6f6;
            font-weight: bold;
        }

    .scrollable{
        overflow:auto;
        width:100%;
        height:14rem;
        margin-bottom:1rem;
    }

/*
#container{
    display:flex;
    flex-direction:row;
    background-color:antiquewhite
}
#flex-container {
    display: flex;
    flex-direction: row;
    margin: 2em;
 
    background-color: lightgray;
    width: 100%;
    height: 35vw;
}

#overskrift {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: center;
}
#flex-overskrift {
    display: flex;
    flex-direction: row;
    background-color: lightslategrey;
    margin: 2em;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
ul{
    list-style-type:none;
    background-color:aliceblue;
    text-align:center;
    margin-top:auto;
}
li a{
    align-content:center;   
    text-align:center;
}

li a:hover{
    background-color:red;
}

a{
    font-size:1.2rem;
}

*/



/* 
body {
    background-color:aliceblue;
}
p{
    font-size:1.2rem;
}
#container{
    display:flex;
    flex-direction:row;
    background-color:antiquewhite
}
#flex-container{
    display:flex;
    flex-direction:row;
    margin: 2em;
    padding:1.2em;
    background-color:lightgray;
    width:100%;
    height:35vw;
}
#overskrift{
    display:flex;
    flex-direction:row;
    background-color:lightgray;
    justify-content:center;
}
#flex-overskrift{
    display:flex;
    flex-direction:row;
    background-color:lightslategrey;
    margin:2em;
    align-content:center;
    justify-content:center;
    width:100%;
    text-align:center;
}
ul{
    list-style-type:none;
    background-color:aliceblue;
    text-align:center;
    margin-top:auto;
}
li a{
    align-content:center;   
    text-align:center;
}

li a:hover{
    background-color:red;
}

a{
    font-size:1.2rem;
}

    */

